* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav {
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;

  display: flex;
  gap: 20px;
}